.mobile-menu {
    display: none;
    position: absolute;
    padding-bottom: 60px;
    padding-top: 60px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    visibility: hidden;
    opacity: 0;
    z-index: 10;

    left: 0;
    right: 0;
    background-color: $white;
    border-top: 1px solid #ececec;

    @media screen and (max-width: 767px) {
        display: block;
    }

    &.is-open {
        display: block;
        visibility: visible;
        opacity: 1;
    }
}

.mobile-menu-btn {
    display: none;
    justify-content: center;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 40px;
    height: 40px;
    outline: none;

    @media screen and (max-width: 767px) {
        display: block;
    }
}

.icon-close {
    display: none;

    .mobile-menu-btn.is-open & {
        display: block;
    }
}

.mobile-menu-btn.is-open .icon-menu {
    display: none;
}

.mobile-menu-btn-svg {
    &:hover {
        fill: $hover-button-color;
        cursor: pointer;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.mobile-menu-list {
    margin-bottom: 60px;
}
.mobile-menu-item {
    text-align: center;

    &:not(:last-child) {
        margin-bottom: 40px;
    }
}

.mobile-link {
    display: inline-block;
    position: relative;
    font-size: 18px;
    line-height: 1.17;
    color: $main-text-color;
    font-weight: 500;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        color: $hover-button-color;
    }

    &.mobile-current {
        color: $hover-button-color;
        transition: 5s cubic-bezier(0.4, 0, 0.2, 1);
    }

    &.mobile-current::after {
        position: absolute;
        content: "";
        display: inline-block;
        width: 100%;
        height: 4px;
        bottom: -10px;
        right: 0px;
        background-color: currentColor;
        border-radius: 2px;
        background-position: center;
    }
}

.mobile-contacts-item {
    text-align: center;
    font-size: 18px;
    line-height: 1.17;
    color: $social-icons-color;
    font-weight: 500;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:not(:last-child) {
        margin-bottom: 16px;
    }
    &:hover {
        color: $hover-button-color;
    }
}

.mobile-contacts-svg {
    fill: currentColor;
    margin-right: 10px;
}

.mobile-contacts-svg:hover {
    fill: $hover-button-color;
}
.mobile-contacts-svg-one {
    width: 16px;
    height: 11.2px;
}

.mobile-contacts-svg-two {
    width: 10px;
    height: 15px;
}
