.service-order {
  width: 100%;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 1;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  max-width: 450px;
  width: 100%;
  background-color: $white;
  padding: 40px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  .is-hidden & {
    transform: translate(-50%, 0%) scale(0.5);
  }

  @include for-size(desktop) {
    max-width: 528px;
  }
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.close-btn-svg {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 11px;
  height: 11px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .btn-close:hover & {
    fill: $hover-button-color;
  }
}

.fieldset {
  display: flex;
  flex-wrap: wrap;
}

.service-header {
  margin: 0 auto 12px;

  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: $main-text-color;

  @include for-size(desktop) {
    line-height: 1.15;
  }
}

.form-field {
  margin-top: 8px;
}

.form-field::placeholder {
  text-transform: uppercase;
  color: rgba(117, 117, 117, 0.5);
}

.field {
  position: relative;
  margin-top: 4px;
  width: 100%;
  line-height: 40px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 40px;
  margin-bottom: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;

  &:focus {
    border-color: $hover-button-color;
  }

  &:focus + .service-order-svg {
    fill: $hover-button-color;
  }
}

.field-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: $secondary-color;
}

.service-order-svg {
  position: absolute;
  left: 53px;
  transform: translateY(15px);
  display: inline-block;
  width: 18px;
  height: 18px;
  fill: $main-text-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-area {
  padding: 13px 16px 11px;
  margin-top: 4px;
  resize: none;
  width: 100%;
  height: 120px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);

    &:focus {
      border-color: $hover-button-color;
    }
  }
}

.checkbox-text {
  margin-top: 20px;

  .link {
    color: $secondary-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: $hover-button-color;
    }
  }
}

.error_msg {
  color: $error-color;

}

.error_msg_small {
  color: $error-color;
  font-size: 12px;
  margin-top: 4px;
}

.check {
  display: flex;
  align-items: center;
}

.check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  &:checked + .checkbox-check {
    border-color: transparent;
    background-color: $hover-button-color;
    background-image: url("../images/check-sign.svg");
    background-size: contain;
    background-origin: content-box;
    background-repeat: no-repeat;
    transition: 50ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.policy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: $secondary-color;

  @include for-size(desktop) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox-check {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid $main-text-color;
  border-radius: 2px;
}

.conditions-link {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: $hover-button-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include for-size(desktop) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.service-order-btn {
  position: relative;
  display: block;
  padding: 10px 34px;
  margin: 30px auto 0 auto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  outline: none;

  color: $white;
  background: $hover-button-color;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


//Payment
.form-field-amount-left, form-field-amount-right {
  width: 50%;
  float: left;
}

.form-field-amount-right {
  padding-top: 12px;

}

.service-order-stripe-commission {
  padding-top: 30px;
  color: $secondary-color;
  font-size: 18px;
  //display: flex;
  //flex-direction: row;
  //justify-content: flex-start;
}

.service-order-9thPlanet-commission {
  color: $secondary-color;
  font-size: 18px;
}

.form-field-amount-right-cad {
  font-size: 24px;
  color: $secondary-color;
  padding-left: 10px;

}

.form-field-amount-right-full-money {
  float: right;
  padding-right: 5%;
  padding-top: 6px;
  cursor: pointer;
}

.form-field-card {
  height: 40px;
  padding-left: 15px;
  padding-top: 10px;
}

.hidden {
  display: none !important;
}

.question-svg {
  left: 0;
  transform: none;
  position: relative;
  top: 3px;
  fill: $hover-button-color;
}

textarea {
  resize: none;
  line-height: 30px !important;
  text-indent: 5px;
  padding-top: 5px !important;
  height: 40px;
}

select {
  height: 40px;
}

.result-message-success {
  color: $success-color;
}

.error_msg-error {
  color: $error-color;

}

.change-cursor {
  cursor: pointer;
}
