.page-header {
  padding-top: 2px;

  @include for-size(desktop) {
    padding-top: 10px;
    padding-bottom: 11px;
  }

  @include for-size(tablet) {
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
  }
}

.border-bottom {
  border-bottom: 1px solid #ececec;
}


.top_email {
  display: block;
  width: 100%;
  background: $hover-button-color;
  text-align: center;
  padding: 16px;
  color: $white;

  & .hidden {
    display: none;
  }
}