.project-button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 0;
    margin-top: 60px;
    margin-bottom: 25px;

    @include for-size(tablet) {
        justify-content: center;
        margin-bottom: 30px;
    }

    @include for-size(desktop) {
        margin-top: 94px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;

        justify-content: center;
    }
}

.projectbutton {
    display: inline-block;
    padding: 6px 22px;
    margin-bottom: 15px;
    outline: none;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: $main-text-color;
    background: $team-background-color;
    border-radius: 4px;
    border: 0;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
        margin-bottom: 0;
    }

    &:hover,
    &:focus {
        background-color: $hover-button-color;
        color: $white;
        cursor: pointer;
    }
}

.project-button-item:not(:last-child) {
    margin-right: 8px;
}
