.reset-row {
  display: flex;
  flex-wrap: wrap;
}

.reset-column {
  flex: 33.33%;
  width: 33.33%;
}

.reset-form {
  position: relative;
  //text-align: center;
  margin-top: 8px;
}

.override-svg {
  left: 12px !important;
}